{% extends "base.html" %}
<body>
    {% block navbar %}
        {{ super() }}
    {% endblock %}

    {% block content %}
    <h2 class="subheading">About Me</h2>
    <p class="text-block">
        My name is Anand, I'm an 18 year old programmer. Currently struggling with getting into college.
    </p>
    <p class="text-block">
        Currently I'm mostly interested in <em>databases</em> and <em>concurrency</em>. Databases are magic!
    </p>
    <p class="text-block">
        I also try to learn some <em>DevOps</em> and <em><a href="https://rust-lang.org" class="inline-link">Rust</a></em>, but I'm not very good at those 😅
    </p>
    <p class="text-block">
        You can find me hanging out in the <a href="https://discord.gg/python" class="inline-link">Python Discord server</a> in the <em>databases</em> or <em>discord.py</em> channels.
        My username is <em>anand#8837</em>.
    </p>

    <br>
    <p class="text-block">
        If you want to see some of my projects, <a href="/projects" class="inline-link">go here.</a>
        <br><br>
        I'll <i>try</i> to blog <a href="/blog" class="inline-link">here.</a>
    </p>

    <h2 class="subheading">Contact</h2>
    <ul>
        <li><a href="https://anand2312.tech/r/" class="inline-link">GitHub</a></li>
        <li>Discord - anand#8837</li>
    </ul>
    {% endblock %}
</body>
