<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" value="Anand">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/stylesheet.css">

        <title>anand2312</title>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div id="navbar">
            <h1 id="navbar-title">anand2312</h1>
        </div>
        {% endblock %}
    </body>
</html>
