<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" value="Anand">
        <meta property="og:title" content="anand2312">
        <meta property="og:description" content="Personal site and blog.">
        <meta property="og:site_name" content="anand2312">
        <meta property="og:image" content="{{ favicon }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" href="{{ favicon }}" type="image/webp">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/stylesheet.css">

        <title>anand2312 • {{ title }}</title>
    </head>
    <body>
        <div id="navbar">
            <h1 id="navbar-title"><a href="/" id="return-to-main-link">anand2312</a></h1>
            <a href="/about" class="navbar-link">ABOUT ME</a>
            <a href="/projects" class="navbar-link">PROJECTS</a>
            <a href="/blog" class="navbar-link" id="blog-link">BLOG</a>
        </div>
        <br><br>
        <p class="text-block">Here are some of the projects I've contributed to. These are the repositories that are pinned on my GitHub profile.</p>
        <br>
        <div class="repo-cards">
        {% for repo in projects %}
            <div class="repo-card">
                <a href="{{ repo.custom_url }}" class="repo-link">{{ repo.nameWithOwner }}</a>
                <p class="repo-description">{{ repo.description }}</p>
                <div class="lang-display">
                    <span class="dot" style="background-color: {{ repo.language.color }};"></span>
                    <p class="lang-label">{{ repo.language.name }}</p>
                    <img src="../static/images/star.svg" id="star">
                    <p class="lang-label">{{ repo.stargazerCount }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </body>
</html>
