/* bg: 0E103D */
/* headers text: DE4D86 */
/* main text: F2D7EE */
/* link hover: F4D35E */
/* emphasis color: 8CBCB9 */
/* more scheme: https://coolors.co/1a1423-dbc2cf-da4167-f4d35e-2ca58d */

html {
    font-family: 'JetBrains Mono', monospace;
    background-color: #0E103D;
    color: white;
}

em {
    color: #8CBCB9;
}

.subheading {
    font-weight: bold;
    font-size: 1.75em;
    color: #DE4D86;
}

.content {
    color: #DBC2CF;
    font-weight: bold;
    font-size: 1em;
    margin: 1em 1em;
    text-align: center;
}

.inline-link {
    color: #2CA58D;
    text-decoration: #DE4D86;
}

.inline-link:hover {
    color: #F4D35E;
    text-decoration: #dd045b;
}

#navbar {
    display: flex;
    background-color: #DE4D86;
    margin: 1em 0.3em;
}

#return-to-main-link {
    color: #0E103D;
    text-decoration: none;
}

#return-to-main-link:hover {
    color: #DBC2CF;
}

#navbar-title {
    font-size: 3em;
    margin-left: 0.75em;
    flex: 5;
}

.navbar-link {
    flex: 1;
    font-size: 1.75em;
    text-align: center;
    margin: 1.5em 0.5em;
    color: #DBC2CF;
    text-decoration: none;
}

.navbar-link:hover {
    color: #F4D35E;
}

#err-img {
    width: 7.5em;
    height: 7.5em;
}

.text-block {
    color: #DBC2CF;
    margin: inherit;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.repo-cards {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: max-content;
}

.repo-card {
    border: 0.2em solid #8CBCB9;
    border-radius: 0.5em;
    margin: 0.5em 0.5em;
}

.repo-link {
    margin: 1em 0.2em 1.5em 0.5em;
    color: #DE4D86;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.repo-link:hover {
    color: #F4D35E;
    text-decoration: none;
}

.repo-description {
    margin: 1em 0em 1em 1em;
    font-size: 1em;
}

.lang-display {
    display: flex;
}

.lang-label {
    margin: 1.5em 0.7em 1em 0em;
}

.dot {
    margin: 1.5em 0.7em 1em 1em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}

#star {
    margin: 1.5em 0.5em 1.8em 0em;
    height: 1.5em;
    width: 1.5em;
}
